/* * {
  outline: 1px solid red !important;
  box-sizing: border-box;
} */
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --gradient: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
/* Global */
body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  color: var(--dark-blue);
  line-height: 1.3;
}
.logo {
    cursor: pointer;
  margin: 20px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 25px;
  width: 140px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 12vh;
}
nav > ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
li{
    cursor: pointer;
    box-sizing: border-box;
}

/* Section */

.main-container {
  display: flex;
  flex-direction: column;
}

/* Article 1 */
.article1 {
  width: 100vw;
  height: 88vh;
}
.nav-unselected {
  width: 100vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  background-color: var(--very-light-gray);
}
.div-image {
  background-image: url("../images/image-mockups.png"),
    url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 110%, 100% 40%;
  background-size: 95%, 100%;
  height: 50%;
  width: 100%;
}
.description-1 {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: space-around;
}
.text-h1 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.text-para {
  text-align: center;
  font-size: 0.85rem;

  margin-left: 8%;
  margin-right: 8%;
}

.invite-btn {
  border: none;
  height: 5vh;
  width: 50vw;
  align-self: center;
  margin-bottom: 10%;
  font-size: 0.9rem;
  background-image: var(--gradient);
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 15px;
  color: var(--white);
  cursor: pointer;
}

/* Article 2 */

.article2 {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grayish-blue);
}

/* Top body */
.top-body {
  display: flex;
  height: 40vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-around;
}
.text-h2 {
  font-size: 1.5rem;
  text-align: center;
  width: 60vw;
  margin: 0 auto;
}

/* Features */

.feature-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  text-align: center;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 40vh;
}
.icon {
  background-size: 100%;
  width: 55px;
  height: 55px;
}
.icon1 {
  background-image: url("../images/icon-online.svg");
}
.icon2 {
  background-image: url("../images/icon-budgeting.svg");
}
.icon3 {
  background-image: url("../images/icon-onboarding.svg");
}
.icon4 {
  background-image: url("../images/icon-api.svg");
}
.text-h3 {
  font-size: 1.2 rem;
  font-weight: 400;
}

/* Articles */

.article3 {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--very-light-gray);
  gap: 15px;
}
.article3 > .text-h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.art-feat-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  margin-bottom: 20px;
}

.art-img {
  width: 90vw;
  height: 30vh;
  background-size: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
}
.img1 {
  background-image: url("../images/image-currency.jpg");
}
.img2 {
  background-image: url("../images/image-restaurant.jpg");
}
.img3 {
  background-image: url("../images/image-plane.jpg");
}
.img4 {
  background-image: url("../images/image-confetti.jpg");
}

.art-text {
  width: 90vw;
  height: auto;
  background-color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.text-h4 {
  font-size: 0.6rem;
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.art-text > .text-h3 {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}
.art-text > .text-para {
  width: 90%;
  margin-left: 5%;
  text-align: justify;
}
/* Footer */

footer {
  display: flex;
  background-color: var(--dark-blue);
  width: 100vw;
  height: 65vh;
  flex-direction: column;
  color: var(--light-grayish-blue);
  align-items: center;
  justify-content: space-around;
}
.sec-1,
.sec-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-1 > .logo {
    background-image: url("../images/logo-white.svg");
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.social-ico {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.fb {
  background-image: url("../images/icon-facebook.svg");
}
.tw {
  background-image: url("../images/icon-twitter.svg");
}
.yt {
  background-image: url("../images/icon-youtube.svg");
}
.ins {
  background-image: url("../images/icon-instagram.svg");
}
.pi {
  background-image: url("../images/icon-pinterest.svg");
}
.foot-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  text-align: center;
}

footer > .invite-btn {
  margin-bottom: 0%;
}

.copyright {
  font-size: 0.8rem;
  color: var(--grayish-blue);
}

/* Hamburger menu */

.desktop-nav {
  display: none;
}

input[type="checkbox"] {
  display: none;
}
.menu-button-container {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  height: 25px;
  width: 25px;
  content: "";
  background-image: url("../images/icon-hamburger.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

.dropdown-menus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 30vh;
  margin: 0 auto;
  margin-top: 15px;
  background-color: var(--white);
  border-radius: 5px;
}
.nav-selected {
  width: 100vw;
  height: 88vh;
  display: none;
  flex-direction: column;
  background-color: var(--very-light-gray);
}

.selected {
  background-color: var(--grayish-blue);
}

#menu-toggle:checked ~ *.menu-button-container {
  background-image: url("../images/icon-close.svg");
}

#menu-toggle:checked ~ *.nav-selected {
  display: flex;
}

#menu-toggle:checked ~ *.nav-unselected {
  display: none;
}

/* Hover */

.menu > li:hover{    
    color:black;
    border-width: 3px;
  border-style: solid;
  border-image: var(--gradient);
  border-image-slice: 0 10% 45;
}

.header-btn:hover{
    opacity: 0.5;
}
.invite-btn:hover{
    opacity: 0.5;
}


/* Desktop view */
.header-btn {
  display: none;
}

@media (min-width: 1020px) {
  .header-btn,
  .invite-btn {
    cursor: pointer;
    display: block;
    border: none;
    height: 6vh;
    width: 17vw;
    font-size: 0.9rem;
    background-image: var(--gradient);
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 25px;
    color: var(--white);
  }

  header {
    justify-content: space-around;
  }
  .menu-button-container {
    display: none;
  }
  .desktop-nav {
    display: flex;
    height: 60%;
    width: 40vw;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .nav-unselected {
    flex-direction: row;
  }

  .article1 {
    flex-direction: row;
  }
  .div-image {
    background-image: url("../images/image-mockups.png"),
      url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: -90% 40%, 10% 70%;
    background-size: 110%, 190%;
    height: 100%;
    width: 55%;
    order: 2;
  }
  .description-1 {
    order: 1;
    width: 45%;
    height: 100%;
    justify-content: center;
    gap: 5%;
  }
  .text-h1 {
    width: 70%;
    height: auto;
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: justify;
  }
  .description-1 > .text-para {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1rem;
  }

  .article2 {
    width: 100vw;
    height: 100vh;
  }

  .top-body {
    margin-top: 10%;
    display: flex;
    height: 40vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
  }
  .top-body > .text-para {
    font-size: 1.2rem;
    text-align: justify;
    padding: 2%;
    width: 70%;
  }
  .text-h2 {
    font-size: 2rem;
    text-align: justify;
    width: 60vw;
    margin-left: 10%;
  }
  .feature-container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    text-align: center;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .art-feat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .art-img {
    width: 20vw;
    height: 10vw;
  }
  .art-text {
    width: 20vw;
  }

  footer {
    height: 25vh;
    flex-direction: row;
  }

  .foot-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 50%;
    width: 20vw;
    text-align: center;
  }
  .sec-3 {
    justify-content: flex-end;
    align-items: flex-end;
  }
}
